body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0696B7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main-section {
  padding-top: 1em !important;
  margin-top: 100px !important;
}

.main-container {
  background-color: white;
  padding: 2em;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.main-section-results {
  padding-top: 1em !important;
  margin-top: 0em !important;
}

.main-container-results
{
  background-color: white;
  padding: 2em;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 5em;
}

.results-btn {
  background-color: #FFA500;
  color: #023E5C;
  font-weight: 600;
}

.results-btn:hover {
  background-color: #EA9800;
}

.col {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 1em;
}

label {
  color: #023E5C;
  font-weight: 600;

}

h4 {
  color: #023E5C;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2em;

}

h6 {
  color: #023E5C;
  font-weight: 600;
  text-align: center;
}

.summary {
  margin-top: 1em !important;
  background-color: #EA9800;
  padding: 1em;

}

.error-message {
  color: red;
  font-weight: 600;
  font-size: 0.8em;
}

.result-number {
  font-weight: 700 !important;
  font-size: 2.5em !important;
  color: #023E5C;

}


.summary-text {
  color: white !important;
}